
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.

[Unit]
Description=Flight Data Recorder

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/sbin/fdrd

[Install]
WantedBy=multi-user.target

